<script>
    const nav = document.querySelector('.menuu');
    const toggle = document.querySelector('.navbar-toggler');
    toggle.addEventListener('click', () => {
        nav.classList.toggle('show');
        console.log("click")

    })

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- https://github.com/gijsroge/tilt.js -->
<script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.codexio.com/">
            Codexio.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>